.logo-container {
    background: linear-gradient(to bottom, lightgrey 0%, lightgrey 30%, white 30%, white 70%, lightgrey 70%, lightgrey 100%);
    padding-top: 2%;
    padding-bottom: 2%;
}


.body-container {
    background-color: lightgrey;

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width:  40%;
}

.title-text {
    font-size: 36px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 10%;
}

.media-links {
    margin-left: 5%;
    margin-right: 5%;
}

.nav-links {
    display: inline-block;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-weight: bolder;
    padding: 0;
    margin-bottom: 15%;
}

.subject-location-text {
    font-weight: 800;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.subject-text {
    font-size: 42px;
}

.location-text {
    font-size: 28px;
}

.lg-media-buttons {
    design: flex;
    justify-content: center;
}

.sm-media-buttons {
    design: flex;
    justify-content: center;
}

.lg-buttons {
    height:120px;
    max-width: 120px;
    border-radius: 50%;
    border: 8px solid white;
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: 16px;
}

.sm-buttons {
    height: 24px;
    max-width: 24px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: 8px;
}

.lg-button1 {
    background-color: #E6563B;
    margin: 5%;
}

.lg-button2 {
    background-color: #EB9D3A;
    margin: 5%;
}

.lg-button3 {
    background-color: #7CB06C;
    margin: 5%;
}

.lg-button4 {
    background-color: #00ABA9;
    margin: 5%;
}

.sm-button1 {
    background-color: #E6563B;
    width: 50px;
    margin: 1%;
}

.sm-button2 {
    background-color: #EB9D3A;
    width: 50px;
    margin: 1%;
}

.sm-button3 {
    background-color: #7CB06C;
    width: 50px;
    margin: 1%;
}

.sm-button4 {
    background-color: #00ABA9;
    width: 50px;
    margin: 1%;
}

hr {
    background-color: darkgrey;
    border: 2px solid darkgrey;
}

.selected-work {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.selected-work-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5%;
}

.previews {
    padding-bottom: 2%;
}

.preview-img {
    design: flex;
    justify-content: center;
    border: 6px solid darkgrey;
    color: white;
    padding: 0;
}

.preview-text {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
}

.preview-buttons {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-right: 5%;

}




